<% provide(:title, 'Edit Comment') %>
<% content_for :navigation do %>
  <%= render 'topics/topics_nav' %>
<% end %>

<section class="forum comment">
  <h1>Comment: <%= @context.title %></h1>
  <%= render partial: 'shared/comment_form',
             locals: { context: @context,
                       comment: @comment,
                       button_caption: 'Save Changes' } %>
</section>
