$global_background_color: #111;
$global_foreground_color: #000;

$global_border_color: #333;
$global_border_radius: 2px;

$global_font_family: sans-serif;
$global_font_size: 1em;
$global_font_color: #aaa;
$global_font_background_color: #666;
$global_line_height: 1.2;

$global_link_color: #f00;

$global_padding_size: 10px;
$global_margin_size: 5px;

// Link variables:
$link_color: #bb0;
$link_hover_color: #fff;
$link_color: #fff;
