<% provide(:title, 'Forum Index') %>
<% content_for :navigation do %>
  <%= render 'topics/topics_nav' %>
<% end %>

<div class="index">
  <h1>Forum Index</h1>
    <%= render partial: @topics, spacer_template: 'shared/hr' %>
  <%= will_paginate %>
</div>
