<% provide(:title, "#{@user.name}'s User Page".html_safe) %>
<% content_for :navigation do %>
  <% render 'users/users_nav' %>
<% end %>

<section class="users">
  <h1><%= @user.name %></h1>
  <%= render @user %>
</section>
