<% provide(:title, 'About the BSC') %>
<% content_for :navigation do %>
  <%= render 'pages/pages_nav' %>
<% end %>

<article class="pages">
  <h1>About the Black Shadow Clan</h1>
  <p>
    End of the Year 2000.
    The influence of Morgoth under Sauron's leadership
    continues to grow. Four Black Numenoreans meet along Hollin Road, all on
    their own errands to or from Eregion.
  </p>
  <p>
    Granvil, Shimmer, Urchin, &amp; Elrik.
    It was decided that night, while darkness was heavy in the sky above, a clan
    of men--the remnants of the mighty Kings Men of Numenor--was indeed to come.
  </p>
  <p>
    Black Shadow Clan
    However, as time goes on, clans either fade away into the pages of history
    or continue to grow...
  </p>
  <p>
    Mid-Year 2002
    The Doom of Men can make one's time on Middle-Earth quite short. Knowledge of
    all sorts, and histories which are almost forgotten are documented. Even
    before the next generation of Black Numenoreans are born, they have been
    written here in the Hall of Records.
  </p>
</article>
