<% provide(:title, 'Contact') %>
<% content_for :navigation do %>
  <%= render 'pages/pages_nav' %>
<% end %>

<div class="pages">
  <h1>Contact the BSC</h1>
    <p>Log in to contact the BSC, or contact us through MUME!</p>
</div>
