<% provide(:title, 'BN History') %>
<% content_for :navigation do %>
  <%= render 'pages/pages_nav' %>
<% end %>

<article class="pages">
  <h1>Black Numenorean History</h1>
  <p>Placeholder for lots and lots of BN history...</p>
</article>
