<% content_for :navigation do %>
  <%= render 'pages/pages_nav' %>
<% end %>

<div class="pages">
  <h1>The Hall of Records: Latest News</h1>
  <p>
    Welcome to the new/improved home of the
    <%= link_to 'Black Shadow Clan', about_path %>, one of
    <%= link_to "MUME's", mume_path %> longest standing and most revered clans.
  </p>
  <p>
    Currently this website is under construction as p(Patience) implementes new
    features and writes tests to ensure it works as designed. However, you are
    more than welcome to <%= link_to 'sign up', signup_path %> and post on the
    forums or post logs. If you encounter any functionality that does not seem
    right, please let p(Patience) know.
  </p>
  <p>Posted by <strong>Patience</strong>, news feature not yet implemented.</p>
</div>

<div class="pages">
  <h1>BSC Members</h1>
  <div class="members">
    <a href="#">Aearo</a>
    <a href="#">Alar</a>
    <a href="#">Chark</a>
    <a href="#">Dreg</a>
    <a href="#">Elizalde</a>
    <a href="#">Elrik</a>
    <a href="#">Gandhi</a>
    <a href="#">Granvil</a>
    <a href="#">Haashastaak</a>
    <a href="#">Hate</a>
    <a href="#">Hiddukel</a>
    <a href="#">Impatience</a>
    <a href="#">Ivanushka</a>
    <a href="#">Koala</a>
    <a href="#">Lairathim</a>
    <a href="#">Lotheila</a>
    <a href="#">Masozi</a>
    <a href="#">Morpheus</a>
    <a href="#">Mortis</a>
    <a href="#">Nir</a>
    <a href="#">Opatuli</a>
    <a href="#">Oscarmeyer</a>
    <a href="#">Pablin</a>
    <a href="#">Pandemon</a>
    <a href="#">Patience</a>
    <a href="#">Puzzle</a>
    <a href="#">Rasbrutin</a>
    <a href="#">Scad</a>
    <a href="#">Shalani</a>
    <a href="#">Sin</a>
    <a href="#">Snowball</a>
    <a href="#">Urchin</a>
    <a href="#">Velameth</a>
    <a href="#">Volta</a>
    <a href="#">Vritra</a>
  </div>
</div>
