<% provide(:title, 'MUME') %>
<% content_for :navigation do %>
  <%= render 'pages/pages_nav' %>
<% end %>

<article class="pages">
  <h1>MUME - Multi-users in Middle Earth</h1>
  <p>
    <strong>MUME</strong> is a free multiplayer roleplaying game based upon
    J.R.R. Tolkien's <em>Middle-Earth</em> that has been continuously enhanced
    since fall '91.
  </p>
  <p>
    In MUME players can explore and live in this meticulously crafted world
    during its late Third Age, and possibly join the epic War between the
    forces of the Dark Lord and the armies of the West. The action takes place
    before The Hobbit and after the loss of the One Ring by Sauron. The key of
    Erebor was just found by Gandalf in Dol Guldur and all the epic tales
    narrated in The Lord of the Rings may take place.
  </p>
  <p>Some MUME related links:</p>
  <ul>
    <li><a href="http://mume.org" target="_blank">MUME's Website</a></li>
    <li>
      <a href="http://elvenrunes.com" target="_blank">
        ElvenRunes - The Unofficial Official MUME Site
      </a>
    </li>
    <li><a href="http://mume.pin.ee" target="_blank">A MUME Fansite</a></li>
  </ul>
</article>
