@import "globals/all";

.comment {
  @extend %box;
  h1 {
    border-bottom: 1px solid $global_border_color;
    font-size: $global_font_size;
    font-weight: normal;
    margin: 0 0 5px 0;
  }
  .form {
    width: 80%;
  }
}

.comment-new {
  @extend %box;
  .form {
    width: 80%;
  }
}

.comments {
  .pagination {
    @extend %box;
    text-align: center;
  }
}
