@import "globals/all";

$flash_alert: red;
$background_color: black;
$flash_notice: white;

.flash {
  background-color: $background_color !important;
  border: 1px solid;
  border-radius: $global_border_radius;
  margin: 5px;
  padding: 5px;
  &.alert {
    border-color: $flash_alert;
    box-shadow: 0 0 .5em $flash_alert;
    color: $flash_alert;
  }
  &.notice {
    border-color: $flash_notice;
    box-shadow: 0 0 .5em $flash_notice;
    color: $flash_notice;
  }
  &.errors {
    box-shadow: 0 0 .5em $flash_alert;
    color: $flash_alert;
    margin: 0 auto 10px auto;
    ul {
      color: $flash_alert;
      margin: 0;
    }
    li {
      margin: 5px 0 0 0;
    }
  }
  i {
    visibility: visible;  // Allow icons in flash to be seen.
  }
}
