@import "globals/all";

.forum {
  &.index {
    @extend %box;
  }
  .form {
    width: 80%;
  }
  h2 {
    display: inline-block;
    font-size: $global_font_size;
    margin: 0;
  }
  .title {
    @extend %box;
  }
  &.topic-form {
    @extend %box;
    .form {
      width: 50%;
    }
  }
}

.comment {
  @extend %box;
  header {
    border-bottom: 1px solid $global_border_color;
    margin-bottom: 5px;
  }
  .footer {
    //border-top: 1px solid $global_border_color;
    color: $global_font_background_color;
    font-size: .8em;
    margin-top: 5px;
  }
  h1 {
    border: 0;
    display: inline-block;
    font-size: $global_font_size;
    margin: 0;
  }
}

.comment-new {
  @extend %box;
  .form {
    width: 80%;
  }
}

.pull-right {
  display: inline-block;
  float: right;
}
