@import "globals/all";

.log {
  &.box {
    @extend %box;
  }
  .form {
    width: 75%;
  }
  pre {
    color: #bbb;
  }

  .enemy {
    color: #fff;
    font-weight: bold;
  }
  .red {
    color: #b00;
    .enemy {
      color: #f55;
    }
  }
  .green {
    color: #0b0;
  }
  .yellow {
    color: #bb0;
  }
  .blue {
    color: #00b;
  }
  .magenta {
    color: #b0b;
    .enemy {
      color: #f5f;
    }
  }
  .cyan {
    color: #0bb;
    .enemy {
      color: #5ff;
    }
  }
}
