@import "globals/all";

.log {
  &.log-form {
    @extend %box;
    .form {
      width: 80%;
    }
  }
  &.index {
    @extend %box;
    h2 {
      display: inline-block;
      font-size: 1em;
      margin: 0;
    }
  }
  &.box {
    @extend %box;
  }
}
