<% provide(:title, 'Logs') %>
<%= content_for :navigation do %>
  <%= render 'log_nav' %>
<% end %>

<div class="log index">
  <h1>Logs</h1>
  <%= render partial: @logs, spacer_template: 'shared/hr' %>
</div>
